{{ $url := (urls.Parse .Destination) }}{{ $internal := site.GetPage .Destination }}{{ $fragment := $url.Fragment }}{{ with $fragment }}{{ $fragment = printf "#%s" $fragment }}{{ end }}
{{ $destination := printf "%s%s" (or $internal.RelPermalink .Destination) $fragment }}
<a href="{{ $destination | safeURL }}" {{ with or .Title $internal.LinkTitle .Text }} title="{{ . }}"{{ end }}{{ if not $internal }} rel="noreferrer external" target="_blank" {{ end }}>{{ or .Text .Title $internal.LinkTitle | safeHTML }}
</a>
