html {
    overflow-y:scroll;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #212121;
    line-height: 1.6em;
    margin: 0;
    padding: 0 1.5em;
}

article {
    margin-bottom: 50px;
}

#nav a {
    color: rgba(0,0,0,.54);
    margin-right: 14px;
    text-decoration: underline;
}

#nav {
    margin: 8px auto 0 auto;
    text-align: center;
}

#nav, ul {
    display: table;
    list-style: none;
}

.nav li {
    display: table-cell;
}

.title, .toc-title {
    font-size: 24px;
}

.toc-title  {
    text-decoration: underline;
}

.toc-summary {
    padding-left: 2em;
}

a, a:visited {
    text-decoration: none;
    color: #336699;
}

a.ablack {
    color: #212121 !important;
}

h1,h2,h3,h4,h5 {
    margin-bottom: 10px;
}

footer {
    color: #666;
    font-size: 0.875rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

dt {
    font-weight: bold;
}

#content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
}

.time {
    color: #757575;
    font-size: small;
    margin: 15px 0px;
}
