#nav a {
    color: rgba(0,0,0,.54);
    margin-right: 14px;
}

#nav {
    margin: 8px auto 0 auto;
    text-align: center;
}

#nav, ul {
    display: table;
    list-style:none;
}

.nav li {
    display: table-cell;
}

a {
    text-decoration: none;
}

a:visited {
    color: #212121;
}

a:link {
    text-decoration: underline;
}

h1,h2,h3,h4,h5 {
    color: #212121;
}

body, html {
    font-family: 'Minion Pro';
    font-size: 100%;
    color: #212121;
}

body {
    line-height: 1.6em;
}


#content {
    position: relative;
    margin: 0 auto;
    padding: 0;
    max-width: 700px;
}

.time {
    color: #757575;
    margin-bottom: 20px;
}
