<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Description | default .Site.Params.Description }}">
    <meta name="theme-color" content="#FFF"/>
    <title>{{ .Title | default .Site.Title }}</title>
    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    <link rel="icon" type="image/icon" href="/images/b.svg">
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="font" type="font/woff2" href="/fonts/Inconsolata.woff2"/>
</head>
